asgiref==3.3.1
Django==3.1.14
djangorestframework==3.12.4
djangorestframework-jsonapi==2.4.0
freezegun==1.1.0
psycopg2-binary==2.8.5
pgcli==3.0
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
sqlparse==0.3.1
gunicorn==20.0.4
